// Tailwind CSS
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

// Font Awesome
// @import "font-awesome/scss/font-awesome.scss";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

.background-hero {
  background: linear-gradient(180deg, #131223 0%, #c0e8f9 100%);
}

.background-hero h1 {
  text-align: center;
  color: white;
  font-size: 3.5em;
  line-height: 1;
}

.background-lines {
  background-image: url('../img/lines.png');
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: auto 100%;
}

.text-shadow {
  text-shadow: 0 2px 4px rgba(0,0,0,0.10);
}

.input-field {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 1px;
  text-align: center;
}

#join {
  background: linear-gradient(174.44deg, #b8d3d11a 2.42%, #b8d3d1 67.28%);
}

.header-title {
  position: fixed;
  top: 0px;
  left: 3.5rem;
  font-size: 2rem;
  color: #fff;
}

.header-button {
  float: right;
  top: 0px;
  position: fixed;
  right: 1em;
}
