<template>
    <div class="w-full">
      <transition name="header">
        <div v-if="showHeader" class="w-full fixed h-12 bg-blue-960 left-0 shadow">
          <transition name="headerImg">
            <img v-if="showImg" class="w-12 rotating" src="img/logo.png" alt="Loco CMS" />
          </transition>
          <span class="header-title">LocoCMS</span>
          <a class="header-button" href="#join" v-scroll-to="'#join'"><button class="bg-puce-100 text-white text-center font-bold px-10 py-2 my-1 rounded-sm shadow">Join</button></a>
        </div>
      </transition>
      <div class="w-full min-h-screen background-hero">
        <div class="w-full min-h-screen background-lines">
          <div class="container mx-auto">
            <img class="mx-auto pt-12 pb-8" src="img/logo.png" alt="Loco CMS" />
            <h1>LocoCMS</h1>

            <div class="mx-auto text-center text-gray-400 p-12 text-4xl">
              <p>The content management package for Laravel</p>
              <p class="mt-4">Coming in 2022</p>
            </div>

            <div class="flex flex-col lg:flex-row">
              <div class="p-4 text-2xl text-center">
                <label for="top-email-input">
                  <p class="text-white text-shadow">Sign up for early access</p>
                </label>
                <div class="input-field bg-white" v-bind:class="{ border: emailError, 'border-red-600': emailError, 'bg-red-200': emailError, 'bg-gray-500': emailWaiting }">
                  <form @submit.prevent="getEmail">
                    <input id="top-email-input" class="bg-transparent text-gray-700 placeholder-gray-700 text-center p-2 w-full lg:w-auto" placeholder="you@email.com" name="email" v-bind:class="{ 'text-red-600': emailError }" />
                    <button type="submit" class="bg-transparent text-gray-700 text-center p-2 pr-4 hidden xl:inline-block"><i class="fa fa-arrow-right"> </i></button>
                  </form>
                  <img v-if="emailWaiting" class="absolute inline-block -mt-8" src="img/ajax-loader.gif" alt="Please wait..." />
                </div>
                <p v-if="emailSuccess" class="my-6 bg-green-200 border border-green-600 text-green-800 rounded shadow">{{ emailSuccessMsg }}</p>
              </div>

              <div class="p-4 lg:ml-auto lg:mr-0 mx-auto">
                <img src="img/window.png" alt="Screenshot" class="shadow-lg rounded" />
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="w-full bg-blue-950 h-auto -mt-40 lg:-mt-64">
        <div class="p-16 pt-40 lg:pt-16 w-full lg:w-2/5 xl:w-1/2 text-white text-center">
          <p class="text-2xl p-4">Easily add common CMS features to new and existing Laravel projects with a single Composer package</p>
          <p class="text-xl p-4">LocoCMS contains the common elements you'd expect from a modern CMS, allowing you to add a content management system to your project in seconds.</p>
          <p class="text-xl p-4">The package is designed to be easily integrated into Blade and Vue templates by developers, but still has a backend even the most non-technical user can find their way around.</p>
        </div>
      </div>

      <div class="w-full bg-white h-auto">
        <div class="p-8 w-full text-gray-900 container mx-auto">
          <h2 class="text-center font-bold p-8 mt-8 text-3xl">Features</h2>

          <div class="flex flex-wrap text-center">
            <div class="w-full lg:w-1/3 p-12">
              <p class="text-blue-450 text-3xl"><i class="fa fa-users"> </i></p>
              <h3 class="text-2xl mb-2">User Friendly Client Features</h3>
              <p class="text-gray-750">Easily add features that your clients recognise, like blog posts and image galleries, that are easy to navigate and use</p>
            </div>

            <div class="w-full lg:w-1/3 p-12">
              <p class="text-blue-450 text-3xl"><i class="fa fa-keyboard"> </i></p>
              <h3 class="text-2xl mb-2">Built In Custom Fields</h3>
              <p class="text-gray-750">Built in custom fields mean your client can easily change information inside custom-built pages without editing any code</p>
            </div>

            <div class="w-full lg:w-1/3 p-12">
              <p class="text-blue-450 text-3xl"><i class="fa fa-envelope"> </i></p>
              <h3 class="text-2xl mb-2">Integrated Contact Forms</h3>
              <p class="text-gray-750">Set up contact forms without you (or your client) having to worry about mailables</p>
            </div>

            <div class="w-full lg:w-1/3 p-12">
              <p class="text-blue-450 text-3xl"><i class="fa fa-stamp"> </i></p>
              <h3 class="text-2xl mb-2">Pre-built Components</h3>
              <p class="text-gray-750">Make use of a library of pre-built components that you can use in both Blade and Vue templates</p>
            </div>

            <div class="w-full lg:w-1/3 p-12">
              <p class="text-blue-450 text-3xl"><i class="fa fa-vials"> </i></p>
              <h3 class="text-2xl mb-2">Split Testing</h3>
              <p class="text-gray-750">Easily keep track of split testing to see which pages perform best</p>
            </div>

            <div class="w-full lg:w-1/3 p-12">
              <p class="text-blue-450 text-3xl"><i class="fas fa-newspaper"> </i></p>
              <h3 class="text-2xl mb-2">Easy Blog Posts</h3>
              <p class="text-gray-750">A user friendly WYSIWYG editor lets clients easily write their own blog posts without you having to write a single line of extra code</p>
            </div>

          </div><!-- /flex -->
        </div>
      </div>

      <div id="join">
        <div class="container mx-auto pb-16">
          <label for="bottom-email-input">
            <h2 class="text-blue-950 text-3xl text-center p-12 pb-6 text-shadow">Sign up for early access</h2>
          </label>
          <div class="flex flex-wrap text-center">
            <div class="w-full p-4">
              <form @submit.prevent="getEmail">
                <input id="bottom-email-input" class="bg-white text-gray-700 placeholder-gray-700 text-center p-2 input-field" placeholder="you@email.com" name="email"  v-bind:class="{ border: emailError, 'border-red-600': emailError, 'bg-red-200': emailError, 'text-red-900': emailError, 'bg-gray-500': emailWaiting }" />
                <img v-if="emailWaiting" class="absolute inline -ml-32 mt-4 md:mt-10" src="img/ajax-loader.gif" alt="Please wait..." />
                <button type="submit" class="bg-puce-100 text-white text-center font-bold px-10 py-2 my-6 rounded-sm shadow">Join</button>
              </form>
              <p v-if="emailSuccess" class="w-auto my-6 bg-green-200 border border-green-600 text-green-800 rounded shadow">{{ emailSuccessMsg }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full bg-blue-950 h-auto">
        <div class="p-16 pt-40 w-full text-white text-center">
          <p>&copy; {{ new Date().getFullYear() }}</p>
        </div>
      </div>

    </div>
</template>

<script>
    export default {
        data() {
          return {
            showHeader: false,
            showImg: false,
            emailError: false,
            emailSuccess: false,
            emailSuccessMsg: null,
            emailWaiting: false,
          }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
          handleScroll (event) {
            // If we're scrolling down then show the header
            if (window.scrollY > 10) {
              this.showHeader = true;
            } else {
              this.showHeader = false;
            }

            // Scroll down a bit more for the image
            if (window.scrollY > 170) {
              this.showImg = true;
            }
          },
          getEmail (form) {
            // Get the form value
            var email = form.target.elements.email.value;

            // Error checking
            if (email.indexOf('@') == -1 || email.indexOf('.') == -1) {
              this.emailError = true;
              return false;
            } else {
              this.emailError = false;
              this.emailWaiting = true;
            }

            // Add the email to the database
            fetch('/emaillist', {
              method: 'POST',
              headers: {
                'X-CSRF-TOKEN': document.getElementsByName('token')[0].getAttribute('content'),
              },
              body: JSON.stringify({
                'email': email,
                '_token': document.getElementsByName('token')[0].getAttribute('content'),
              }),
            })
            .then((response) => response.json())
            .then((data) => {
              this.emailSuccess = true;
              this.emailWaiting = false;
              this.emailSuccessMsg = data.msg;
            });
          },
        },
        created () {
          window.addEventListener('scroll', this.handleScroll);
        },
        destroyed () {
          window.removeEventListener('scroll', this.handleScroll);
        },
    }
</script>

<style>
.header-enter-active, .headerImg-enter-active {
  transition: all 3s ease;
}

.header-leave-active, .headerImg-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.header-enter, .header-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  /* transform: translateX(10px); */
  opacity: 0;
}

.headerImg-enter-active {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.resizeImg {
  width: 7rem;
  animation-name: changeWidth;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
        margin-left: 50vw;
    }
    to {
        transform:rotate(-360deg);
        margin-left: 1px;
    }
}

@keyframes changeWidth {
    from {
        width: 7rem;
    }
    to {
        width: 3rem;
    }
}

</style>
