<template>
    <div class="w-full">
      <transition name="header">
        <div v-if="showHeader" class="w-full fixed h-12 bg-blue-960 left-0 shadow">
          <transition name="headerImg">
            <img v-if="showImg" class="w-12 rotating" src="img/logo.png" alt="Loco CMS" />
          </transition>
          <span class="header-title">LocoCMS</span>
        </div>
      </transition>
      <div class="w-full min-h-screen background-hero">
        <div class="w-full min-h-screen background-lines">
          <div class="container mx-auto">
            <img class="mx-auto pt-12 pb-8" src="img/logo.png" alt="Loco CMS" />
            <h1>LocoCMS</h1>

            <div class="mx-auto text-center text-gray-400 p-12">
              <p v-if="success">Your email address has been removed from the list</p>
              <p v-else>There was an error. Please try again.</p>
            </div>

            <div class="flex flex-col lg:flex-row">
              <div class="p-4 text-2xl text-center">
                <p class="text-white text-shadow">Changed your mind? Sign up again</p>
                <div class="input-field bg-gray-50" v-bind:class="{ border: emailError, 'border-red-600': emailError, 'bg-red-200': emailError }">
                  <form @submit.prevent="getEmail">
                    <input class="bg-transparent text-gray-200 placeholder-gray-400 text-center p-2 w-full lg:w-auto" placeholder="you@email.com" name="email" v-bind:class="{ 'text-red-600': emailError }" />
                    <button type="submit" class="bg-transparent text-gray-200 text-center p-2 pr-4 hidden xl:inline-block"><i class="fa fa-arrow-right"> </i></button>
                  </form>
                </div>
                <p v-if="emailSuccess" class="my-6 bg-green-200 border border-green-600 text-green-800 rounded shadow">{{ emailSuccessMsg }}</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="w-full bg-blue-950 h-auto">
        <div class="p-16 pt-40 w-full text-white text-center">
          <p>&copy; 2019</p>
        </div>
      </div>

    </div>
</template>

<script>
    export default {
        props: {
          success: null,
          email: null,
          emailKey: null,
        },
        data() {
          return {
            showHeader: false,
            showImg: false,
            emailError: false,
            emailSuccess: false,
            emailSuccessMsg: null,
          }
        },
        mounted() {
            console.log('Component mounted.')
            console.log(this.email);
        },
        methods: {
          handleScroll (event) {
            // If we're scrolling down then show the header
            if (window.scrollY > 10) {
              this.showHeader = true;
            } else {
              this.showHeader = false;
            }

            // Scroll down a bit more for the image
            if (window.scrollY > 170) {
              this.showImg = true;
            }
          },
          getEmail (form) {
            // Get the form value
            var email = form.target.elements.email.value;

            // Error checking
            if (email.indexOf('@') == -1 || email.indexOf('.') == -1) {
              this.emailError = true;
              return false;
            } else {
              this.emailError = false;
            }

            // Add the email to the database
            fetch('/emaillist', {
              method: 'POST',
              headers: {
                'X-CSRF-TOKEN': document.getElementsByName('token')[0].getAttribute('content'),
              },
              body: JSON.stringify({
                'email': email,
              }),
            })
            .then((response) => response.json())
            .then((data) => {
              this.emailSuccess = true;
              this.emailSuccessMsg = data.msg;
            });
          },
        },
        created () {
          window.addEventListener('scroll', this.handleScroll);
        },
        destroyed () {
          window.removeEventListener('scroll', this.handleScroll);
        },
    }
</script>

<style>
.header-enter-active, .headerImg-enter-active {
  transition: all 3s ease;
}

.header-leave-active, .headerImg-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.header-enter, .header-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  /* transform: translateX(10px); */
  opacity: 0;
}

.headerImg-enter-active {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.resizeImg {
  width: 7rem;
  animation-name: changeWidth;
  animation-duration: 500ms;
  animation-iteration-count: 1;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
        margin-left: 50vw;
    }
    to {
        transform:rotate(-360deg);
        margin-left: 1px;
    }
}

@keyframes changeWidth {
    from {
        width: 7rem;
    }
    to {
        width: 3rem;
    }
}

</style>
